.container {
  position: fixed;
  z-index: 5;
  z-index: 1000;
  bottom: 0;

  display: flex;

  width: 100%;
  height: var(--bottomPartHeight);

  background-color: var(--layoutBackgroundColor);
}

.logBtn {
  position: absolute;
  right: 0;

  width: 4rem;
  height: 100%;

  cursor: pointer;
  transition: background-color 0.25s linear;

  color: var(--font-color);
  border: none;
  border-left: 1px solid rgb(14 14 14 / 15%);
  background-color: transparent;

  font-size: 1.5rem;
}

.logBtn:hover {
  background-color: #145967;
}

.logBtn:active {
  background-color: #092d34;
}
