.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 10rem;
}

.wrapper {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: var(--layoutBackgroundColor);
}

.closeBtn {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  padding: 0.2rem 2rem;

  cursor: pointer;
  transition: background-color 0.15s;

  color: white;
  border: none;
  background-color: #4285f8;

  font-size: 1.6rem;
}

.closeBtn:hover {
  background-color: #3478f5;
}

.closeBtn:active {
  background-color: #053391;
}

.submit {
  width: 9rem;
  margin: 2rem auto 0;
  padding: 0.4rem;

  cursor: pointer;
  transition: background-color 0.15s;

  border: none;
  border-radius: 3px;
  background-color: var(--chatBackgroundColor);

  font-size: 1rem;
}

.submit:hover {
  background-color: #373737;
}

.submit:active {
  background-color: #5a5959;
}

.submit:focus {
  outline: 1px slid blue;
}

.input:focus {
  outline: 1px solid blue;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 1rem 0;

  font-size: 1.2rem;
}

.label input {
  width: 20rem;
  margin-top: 0.5rem;
  padding: 0.4rem;

  border: none;
  border-radius: 3px;
  background-color: var(--chatBackgroundColor);

  font-size: 1rem;
}

.inputErrorDefault {
  opacity: 0%;
  color: #f64747;

  font-size: 0.76rem;
}

.inputError {
  opacity: 100%;
}

.invalidInput {
  outline: 2px solid #f64747;
}

.formErrorDefault {
  opacity: 0%;
  color: #f64747;
}

.formError {
  opacity: 100%;
}

.registration {
  margin-top: 1rem;
}

.registration a {
  color: inherit;
}

.registration a:hover {
  transition: color 0.15s;

  color: #d9d8d8;
}

.registration a:active {
  transition: color 0.15s;

  color: #606060;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
