.fullscreenButton {
  width: 4rem;

  text-align: center;
  vertical-align: middle;

  font-size: 1.5rem;
}

.fullscreenButtonContainer {
  height: 100%;

  cursor: pointer;
  transition: background-color 0.25s linear;

  color: var(--font-color);
  border: none;
  border-left: 1px solid rgb(14 14 14 / 0.15);
  background: transparent;
}

.fullscreenButtonContainer:hover {
  background-color: #145967;
}

.fullscreenButtonContainer:active {
  background-color: #092d34;
}
