.fullscreenButton {
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.fullscreenButtonContainer {
  cursor: pointer;
  transition: background-color 0.25s linear;
  border-left: 1px solid rgba(14, 14, 14, 0.15);
  height: 100%;
}

.fullscreenButtonContainer:hover {
  background-color: #145967;
}

.fullscreenButtonContainer:active {
  background-color: #092d34;
}
