.wrapper {
  display: flex;
}

.buttons {
  width: 22.6rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 1.4rem;
}

.buttons button {
  width: 10rem;
  height: 10rem;
  border-radius: 0.6rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  border: none;
  transition: filter 0.1s linear;
  cursor: pointer;
}

.buttons button:disabled {
  cursor: default;
}

.btnYellow {
  background-color: #cab506;
}

.btnRed {
  background-color: #c12a2a;
}

.btnGreen {
  background-color: #055b05;
}

.btnBlue {
  background-color: #1e1eb3;
}

.btnActive {
  filter: opacity(30%);
}
