.wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: calc(100% - 4px);
  height: 4rem;

  margin: 0 2px 0.3rem;

  cursor: pointer;

  user-select: none;

  border-radius: 3px;
  background-color: var(--secondaryColor);
}

.avatar {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 0.3rem;
}

.nameAndMsg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 56px - 0.6rem);

  padding: 10px;

  text-align: center;

  font-size: 0.8rem;
}

.msgText {
  display: block;
  overflow: hidden;

  max-height: 1rem;

  word-wrap: break-word;
}

.count {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;

  transition: opacity 0.3s ease-in;

  opacity: 0.8;
  border-radius: 50%;
  background-color: #000;
}

.newMessage {
  position: absolute;

  display: flex;

  width: 100%;
  height: 100%;

  transition: opacity 0.3s ease-in;

  opacity: 0;
  background-color: var(--secondaryColor);
}

.count:hover {
  opacity: 0;
}

.newMessage:hover {
  opacity: 1;
}
