.wrapper {
  overflow-x: hidden;
  overflow-y: scroll;

  height: 100%;
  padding-right: 0.4rem;

  cursor: pointer;

  background-color: transparent;
}

.wrapperWithBtn {
  position: relative;
}

::-webkit-scrollbar {
  display: none;

  width: 0;

  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  display: none;

  border-radius: 5px;
  background-color: #cacaca;
}

.togglevisiblityBtn {
  position: absolute;
  top: calc(50% - 3rem);
  right: -19px;

  height: 6rem;
  padding: 3px;

  cursor: pointer;
  transition: right 1s;

  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #363636;
}

.closeBtn {
  right: -8px;
}
