.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% * 7 / 16);
  padding: 2rem;
}

.sidebar button {
  min-width: 10rem;
}

.endGameButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem;
}
