.form {
  display: flex;
  flex-direction: column;

  height: calc(100% - 1.5rem);
  padding: 0 1rem 1rem;
  gap: 0.5rem;
}

.input {
  padding: 0.2rem;

  border: none;
  background: var(--secondaryColor);

  font-size: 1rem;
}

.textarea {
  height: 100%;
  padding: 0.2rem;

  resize: none;

  border: none;
  background: var(--secondaryColor);

  font-size: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 15%;
}

.textareaLabel {
  height: 50%;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 15%;
}

.changeStatusBtn {
  padding: 0.1rem 0.5rem;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 20%;
}

.bottomBtn {
  min-width: 10rem;
  height: 2rem;
}

.emptyError {
  height: 1.5rem;
}
