.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: calc(100% / 16 * 9);
  grid-gap: 2px;

  height: calc(100% - 2rem);
  margin: 0 auto;
  padding: 1rem;
}

.wrapper {
  display: flex;

  width: 100%;
  height: 100%;
}
