.img {
  padding: 0.1rem;
  background: #fff;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
}

.img:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  user-select: none;
  position: absolute;
  width: 4rem;
}

.title {
  position: relative;
  font-size: 0.75rem;
}

.imgContainer {
  position: relative;
  width: 2rem;
}
