.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-height: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0.3rem;
}

.input {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  padding: 0.2rem;

  border: none;
  background-color: var(--secondaryColor);

  font-size: 1rem;
}

.imageInput {
  margin-bottom: 1rem;
}

.users {
  width: 100%;
}

.submitButton {
  width: 10rem;
  margin: 1rem;
  padding: 0.3rem 2rem;

  cursor: pointer;

  border: none;
  border-radius: 2px;
  background-color: var(--secondaryColor);

  font-size: 0.75rem;
}

.buttonsContainer {
  display: flex;
}

.labelText {
  width: 8rem;
}
