.button {
  width: 100%;
  height: 100%;

  cursor: pointer;
  transition: all 0.13s linear;

  color: var(--font-color);
  border: none;
  background-color: var(--calculatorBackground);

  font-size: 1.5rem;
}

.button:hover {
  filter: brightness(0.7);
}

.button:active {
  filter: brightness(0.3);
}
