.input {
  width: 100%;
  height: 3rem;
  font-size: 2.4rem;
  background-color: var(--calculatorBackgroundFallback);
  background-image: var(--calculatorBackground);
  border: 1px solid var(--calculatorBorder);
  color: var(--font-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.input:active {
  outline: 0.15rem solid #4d50f8;
}

.form {
  width: 100%;
}
