.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 0.3rem;

  text-align: center;

  border-radius: 2px;
  background-color: var(--secondaryColor);

  font-size: 0.8rem;
}
