.node {
  width: 100%;

  color: white;
  border: none;
  background-color: var(--minesweeeperNodeDefaultBackground);

  font-size: 80%;

  font-weight: bold;
}

.node i {
  display: flex;
  justify-content: center;

  font-size: 80%;
}

.lose {
  background-color: #a70404;
}

.lose:hover {
  background-color: #a70404;
}

.bombAround8 {
  background-color: #bf1539;
}

.bombAround7 {
  background-color: #ea5073;
}

.bombAround6 {
  background-color: #f16d89;
}

.bombAround5 {
  background-color: #bc537d;
}

.bombAround4 {
  background-color: #b76b96;
}

.bombAround3 {
  background-color: #6e5cae;
}

.bombAround2 {
  background-color: #776294;
}

.bombAround1 {
  background-color: #415f3b;
}

.bombAround0 {
  opacity: 0.3;
  background-color: #222;
}

.bombAround404 {
  font-size: 1rem;
}

.node svg {
  min-height: 50% !important;
}
