.toDoItem {
  display: flex;
  align-items: center;

  padding: 0.02rem 0.2rem;
}

.completed {
  text-decoration: line-through;

  color: green;
}

.text {
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;

  transition: color 0.2s linear;
  word-break: break-word;

  border: 1px solid #1d1d1d;
  background-color: var(--secondaryColor);
  box-shadow: 1px 1px 1px black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2.5rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;

  cursor: pointer;

  background: transparent;

  font-size: 1.2rem;
}

.deleteButton {
  transition: color 0.15s linear;

  color: #ae2727;
}

.deleteButton:hover {
  color: #881818;
}

.deleteButton:active {
  color: #4c0606;
}

.checkButton {
  transition: color 0.15s linear;

  color: #178517;
}

.checkButton:hover {
  color: #0d6910;
}

.checkButton:active {
  color: #043c06;
}
