.toDoItem {
  display: flex;
  align-items: center;

  padding: 0.02rem 0.2rem;
}

.completed {
  text-decoration: line-through;

  color: green;
}

.text {
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 1rem;

  text-align: left;
  word-break: break-word;

  border: 1px solid #1d1d1d;
  background-color: var(--secondaryColor);
  box-shadow: 1px 1px 1px black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2.5rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;

  background: transparent;

  font-size: 1.2rem;
}

.deleteButton {
  color: #ae2727;
}

.checkButton {
  color: #178517;
}

.uncheckButton {
  color: #ae2727;
}

.collapseButton {
  width: 2rem;
  height: 100%;
  padding: 0.5rem;

  border-radius: 0;
}

.textButton {
  width: calc(100% - 2rem);
  padding: 0.5rem;

  transition: color 0.2s linear;

  text-align: left;

  border-radius: 0;

  font-size: 1.2rem;
}

.description {
  padding: 0.5rem;

  white-space: pre-wrap;

  border-top: 2px dotted black;

  font-size: 0.75rem;
}
