.buttons {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  height: 70%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.numberButtons {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operationButtons {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.numberButton,
.operationButton {
  width: 33.3%;
  height: 20%;
}

.enterButton,
.zeroButton {
  height: 40%;
  width: 100%;
}

.clearOneButton {
  height: 20%;
  width: 66.6%;
}
