.buttons {
  display: flex;
  margin-top: 2rem;
}

.numberButtons {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operationButtons {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.numberButton,
.operationButton {
  width: 7rem;
  height: 4rem;
}

.enterButton,
.zeroButton {
  height: 5rem;
  width: 21rem;
}

.clearOneButton {
  height: 4rem;
  width: 14rem;
}
