.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;
  max-width: 24rem;
  margin: 1rem 0 2rem 0;

  user-select: none;
  text-align: center;
}

.wrapper button {
  color: black;
}

.startBtn {
  margin-top: 90%;
  padding: 1rem;

  cursor: pointer;

  font-size: 1rem;
}

.startBtn:disabled {
  cursor: default;
}

.level {
  margin-top: 2rem;
}
