.window {
  border: 3px solid #343030;
  position: absolute;
  z-index: 10;
  border-radius: 0.4rem;
}

.windowTop {
  height: 5%;
  background-color: rgba(23, 23, 24, 0.9);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #353535;
}

.windowBody {
  background-color: #1e1e22;
  height: 95%;
  position: relative;
}

.btn {
  font-size: 1rem;
  height: 100%;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s linear;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 1rem;
  flex-grow: 1;
  padding-left: 5rem;
}

.closeBtn:hover {
  background-color: #ff0000;
}

.closeBtn:active {
  background-color: #c12a2a;
}

.buttonsContainer {
  display: flex;
}

.collapseBtn:hover {
  background-color: #474747;
}
