.msgContainer {
  width: 45%;
  background-color: #30303c;
  border-radius: 0.6rem;
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
  max-width: 20rem;
}

.avatar {
  border: 1px spolid black;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  width: 2rem;
  height: 2rem;
}

.nameAndMsgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 0.2rem;
}

.ownerAndDateContainer {
  display: flex;
  justify-content: space-between;
}

.msgOwner {
  color: #bbdeee;
}

.otherMsg {
  border-radius: 0.2rem;
  margin-top: 0.2rem;
  width: 100%;
}

.myMsg {
  background-color: #292d47;
  align-self: flex-end;
  flex-direction: row-reverse;
}
