.msgContainer {
  display: flex;

  width: 45%;
  max-width: 20rem;
  margin: 0.2rem;
  padding: 0.2rem;

  border-radius: 0.6rem;
  background-color: #30303c;
}

.avatar {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;

  border: 1px spolid black;
  border-radius: 0.5rem;
}

.nameAndMsgContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-right: 0.2rem;
}

.ownerAndDateContainer {
  display: flex;
  justify-content: space-between;
}

.msgOwner {
  color: #bbdeee;
}

.msgText {
  width: 100%;
  margin-top: 0.2rem;

  border-radius: 0.2rem;
}

.myMsg {
  align-self: flex-end;
  flex-direction: row-reverse;

  background-color: #292d47;
}
