.form {
  display: flex;
  flex-direction: column;

  padding-top: 0.5rem;
}

.label {
  margin: 1rem 0 0 2rem;

  user-select: none;
}

.select {
  min-width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;

  cursor: pointer;

  border: 2px solid var(--secondaryColor);
  border-radius: 0.2rem;
  background-color: var(--secondaryColor);
}

.resetBtn {
  min-width: 6rem;
  padding: 0.3rem;

  color: white;

  background-color: #882323;

  font-size: 0.7rem;
}

.resetContainer {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}
