* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --topBarHeight: 4vh;
  --bottomPartHeight: 4vh;

  font-size: 2vh;
}

.darkTheme {
  --layout-background-color: #131313;
  --calculatorBackground: rgb(31, 31, 31);
  --calculatorBorder: #181818;
  --calculatorInputBorder: #515151;
  --boxShadow6: 6px 3px 6px #000;
  --windowTopBackground: rgba(23, 23, 24, 0.9);
  --windowBodyBackground: rgb(23, 23, 24);
  --toDoItemBackground: #333;
  --settingsSelectItemBackground: #3b3b40;
  --chatBackgroundColor: #2f2f2f;

  color: #ececec;
}

.lightTheme {
  --layout-background-color: #ececec;
  --calculatorBackground: rgb(193, 193, 193);
  --calculatorBorder: #676767;
  --calculatorInputBorder: #000;
  --boxShadow6: 6px 3px 6px #000;
  --windowTopBackground: rgba(255, 255, 255, 0.9);
  --windowBodyBackground: rgb(210, 210, 210);
  --toDoItemBackground: #cac9c9;
  --settingsSelectItemBackground: #d7d7d7;
  --chatBackgroundColor: #c4c4c4;

  color: #373737;
}

.blueTheme {
  --layout-background-color: #446acf;
  --calculatorBackground: rgb(45, 155, 214);
  --calculatorBorder: #5552d7;
  --calculatorInputBorder: #021251;
  --boxShadow6: 6px 3px 6px #000;
  --windowTopBackground: rgba(83, 176, 241, 0.9);
  --windowBodyBackground: rgb(108, 186, 246);
  --toDoItemBackground: #4684ee;
  --settingsSelectItemBackground: #4082e3;
  --chatBackgroundColor: #308ac6;

  color: #efefef;
}

.greenTheme {
  --layout-background-color: #43ae58;
  --calculatorBackground: rgb(24, 110, 20);
  --calculatorBorder: #07831b;
  --calculatorInputBorder: #024e04;
  --boxShadow6: 6px 3px 6px #000;
  --windowTopBackground: rgba(8, 164, 31, 0.9);
  --windowBodyBackground: #43ae58;
  --toDoItemBackground: #299227;
  --settingsSelectItemBackground: #429f40;
  --chatBackgroundColor: #439440;

  color: #efefef;
}

body {
  overflow: hidden;

  margin: 0;

  color: var(--font-color);

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Toastify__toast--dark {
  bottom: 1rem !important;

  border-radius: 0.5rem !important;
  background-color: var(--layout-background-color) !important;
}
