* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #ececec;
  --layout-background-color: #1d2329;
  --topBarHeight: 4vh;
  --bottomPartHeight: 4vh;
  --calculatorBackgroundFallback: rgb(65, 65, 74);
  --calculatorBackground: linear-gradient(30deg, rgb(65, 65, 74), rgba(69, 69, 78, 0.84));
  --calculatorBorder: #292926;
  font-size: 2vh;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Toastify__toast--dark {
  background-color: var(--layout-background-color) !important;
  border-radius: 0.5rem !important;
  bottom: 1rem !important;
}
