.btn4 {
  width: calc(50% - 1rem);
  height: calc(50% - 1rem);
  margin-right: 1rem;

  cursor: pointer;
  transition: filter 0.1s linear;

  border: none;
  border-radius: 0.6rem;
}

.btn9 {
  width: calc(33% - 1rem);
  height: calc(33% - 1rem);
  margin-right: 1rem;

  cursor: pointer;
  transition: filter 0.1s linear;

  border: none;
  border-radius: 0.6rem;
}
