.wrapper {
  overflow-x: hidden;
  overflow-y: scroll;

  max-height: 100%;
  padding: 0.4rem;

  word-wrap: break-word;

  font-family: 'Ubuntu Mono', monospace;
}

.input {
  overflow: hidden;

  width: 100%;

  color: inherit;
  border: none;
  outline: none;
  background: transparent;

  font-family: inherit;

  font-size: 1rem;
}

.user {
  color: #03a703;
}

.pre {
  display: flex;

  user-select: none;

  font-family: 'Ubuntu Mono', monospace;
}

.pre form {
  width: calc(100% - 5rem);
}

.tilda {
  color: #47b7f1;
}

.terminalText::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 0.3);
}

.terminalText::-webkit-scrollbar {
  width: 12px;

  background-color: transparent;
}

.terminalText::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background-color: #3b3b3b;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 0.3);
}
