.tab {
  width: calc(var(--bottomPartHeight) * 1.4);
  height: var(--bottomPartHeight);
  margin-right: 2px;
  padding: 0.3rem 0.6rem;

  cursor: pointer;
  user-select: none;
  transition: background-color 0.12s linear;
  text-align: center;

  color: inherit;
  border: none;
  border-collapse: collapse;
  border-bottom: 3px solid #fff;
  background-color: transparent;

  font-size: inherit;
}

.isActive {
  background-color: #777575;
}

.close {
  border-bottom-color: #686868;
}

.tab:hover {
  background-color: #2f2f2f;
}

.tab:active {
  background-color: #949494;
}
