.tab {
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: transparent;
  color: inherit;
  border-bottom: 3px solid #61dafb;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.25s linear;
  border-left: 1px solid rgba(14, 14, 14, 0.15);
  border-right: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
  width: calc(var(--bottomPartHeight) * 1.4);
  text-align: center;
  height: var(--bottomPartHeight);
  font-size: inherit;
}

.tab:hover {
  background-color: #145967;
}

.tab:active {
  background-color: #092d34;
}

.isActive {
  background-color: #777575;
}

.close {
  border-bottom-color: #686868;
}
