.tab {
  padding: 0.6rem;
  padding-top: 0.3rem;
  border-bottom: 3px solid #61dafb;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.25s linear;
  border-left: 1px solid rgba(14, 14, 14, 0.15);
  border-right: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
  width: 2.8rem;
  text-align: center;
}

.tab:hover {
  background-color: #145967;
}

.tab:active {
  background-color: #092d34;
}

.isActive {
  background-color: #777575;
}

.close {
  border-bottom: none;
}
